<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- enable autowire -->
    <context:annotation-config />

    <!--配置spring mvc注解驱动特性-->
    <mvc:annotation-driven/>

    <!-- enable component scanning (be ware that this does not enable mapper scanning!) -->
    <!--conponent-scan用来扫描package下class,将@component等注解注入成bean-->
    <context:component-scan base-package="com.zwj.Service" />
    <context:component-scan base-package="com.zwj.DAO" />
    <context:component-scan base-package="com.zwj.Controller" />

</beans>